QMainWindow {
	background-image: url(:/images/dark_background.jpg);
}

textEditor QPushButton, QComboBox { 
	background-color: #0B2161;
	color: #E0F2F7; 
	border-radius: 6px ;
	padding: 5px ;
	font: 12px ;
}

textEditor QPushButton:hover { 
	background-color: #2E2E2E;
}

textEditor QPushButton:hover:pressed { 
	background-color: #086A87; 
}

textEditor QMenuBar {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,
                                      stop:0 #0B2161, stop:1 #2E2E2E);
	color: #E0F2F7;
	spacing: 3px ;
}

textEditor QMenuBar::item{
	border-radius: 6px ;
	padding: 5px ;
}

textEditor QMenuBar::item:selected, QMenuBar::item:pressed { 
    background: #2E2E2E;
}

textEditor QMenu { 
	background-color: #0B2161;
	color: #E0F2F7; 
}

textEditor QMenu::item{
	border-radius: 6px ;
	padding: 5px ;
}

textEditor QMenu::item:selected {
	 background: #2E2E2E;
}

textEditor QMenu::item:pressed {
	 background: #086A87;
}

textEditor QStatusBar { 
	color: #E0F2F7; 
}

QPlainTextEdit, QLineEdit, QTreeView { 
	background-color: #2E2E2E;
	color: #FFFFFF; 
}

textEditor QMessageBox {
	background-color: #2E2E2E;
	color: #FFFFFF; 
}
textEditor QMessageBox QLabel {
	background-color: #2E2E2E;
	color: #FFFFFF; 
}

QLabel {
	color: #FFFFFF;
}