QMainWindow {
	background-image: url(:/images/light_background.jpg);
}

textEditor QPushButton { 
	background-color: #E0F2F7 ; 
	color: #0B2161 ; 
	border-radius: 10px ;
	padding: 5px ;
	font: 12px ;
}

textEditor QPushButton:hover { 
	background-color: #A9F5E1 ;
}

textEditor QPushButton:hover:pressed { 
	background-color: #EFFBFB ;
}

textEditor QMenuBar { 
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,
                                      stop:0 #E0F2F7, stop:1 #A9F5E1);
	color: #0B2161 ; 
	spacing: 3px ;
}

textEditor QMenuBar::item {
	border-radius: 10px ;
	padding: 5px ;
}

textEditor QMenuBar::item:selected, QMenuBar::item:pressed { 
    background: #A9F5E1 ;
}

textEditor QMenu { 
	background-color: #E0F2F7 ;
	color: #0B2161 ; 
}

textEditor QMenu::item{
	border-radius: 10px ;
	padding: 5px ;
}

textEditor QMenu::item:selected {
	 background: #A9F5E1 ;
}

textEditor QMenu::item:pressed {
	 background: #EFFBFB ;
}

textEditor QStatusBar { 
	color: #0B2161 ; 
}